
// variables
$background: #030D58;
$blueHome: #0093E9;
$blueCard: #132188;
$brilliantBlue: #28F1FE;
$grey: #C3C3C3;
$font: 'Roboto', sans-serif;
$white: #ffff;
$fontSizeH1: 2.1rem;
$fontSizeH2: 1.8rem;
$fontSizeH3: 1.2rem;
$fontSizeH4: 1.1rem;
$fontSizeH5: 2.1rem;
$fontSizeP: 1.1rem;
$fontSizeLabel: 1.2rem;