
@use './scss/variables' as *;
@use './scss/mixins' as *;
@use './scss/header';
@use './scss/home';
@use './scss/skills';
@use './scss/projects';
@use './scss/education';
@use './scss/professionalExperiences';
@use './scss/contact';
@use './scss/footer';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    position: relative;
    font-family: $font;
    background: $background;
    color: $white;
}
a {
    text-decoration: none;
    color: $white;
}
li {
    list-style: none;
}

h1 {
    font-size: $fontSizeH1;
    font-weight: 700;
    span {
        color: $blueHome;
    }
}
h2 {
    font-size: $fontSizeH2;
    font-weight: 500;
    margin-bottom: 5rem;
    text-align: center;
}
h3 {
    font-size: $fontSizeH3;
    font-weight: 500;
}
h4 {
    font-size: $fontSizeH4;
    font-weight: 400;
}
h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: $grey;
}
p {
    font-size: $fontSizeP;
    font-weight: 300;
    color: $grey;
}
label {
    font-size: $fontSizeLabel;
}
button, .button {
    background: $blueHome;
}
p.date {
    color: $brilliantBlue;
}
p {
    color: $grey;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: $brilliantBlue;
}
.container {
    @include flex(center, center, column);
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 9.5rem;
}
@media screen and (max-width: 300px) {
    // all images not contact
    .homeIllustration, .skillsIllustration, .educationIllustration {
        width: 100% !important;
        height: 13rem !important;
    }
}

// * ANIMATION SCROLL
div.elementsScroll, h2 {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}















